@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
.main{
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    height: 50%;
    border-radius: 30px;
    background-color:#EDF1D6;
}

.input-group{
    padding-top: 10vh;
    padding-left: 20%;
    width: 80%;
}

.buttons{
    transform: translate(50%,50%);
    width: 40%;
    display: flex;
    justify-content: center;
}

.btn{
    margin-left: 10vw;
}

.ans{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    background-color:#EB455F;
    font-family: 'Mitr', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    }
    
.neo{
    display:flex;
    align-content: center;
    justify-content: center;    
    }

.cntr{
    display: flex;
    justify-content: center;
}